<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44333" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\7.0.304\DotnetTools\dotnet-watch\7.0.304-servicing.23275.9\tools\net7.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\community\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44367/AdvWorks.Api/,ws://localhost:52990/AdvWorks.Api/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnVcPaoNS8YCCZqoiHy7QwstCMvpyv0RHkbSUNhpMcV587MuYo5M9M1uzLb1vAGR+Qux20q5RzZpo+VKTKuONyD6TU7V/H6QJF7Js8+oQWjLMc/ro73JGj9MA4Nl+Lu+r7H/68aagDFKSbvSvo7EHDKX5Qthx2jOI2qPzjJV+xnwvuqpB8xiQCin7AdO59kAtL9+uSejTkbWU5g8tDaxKJXX0OZ23SEDtAcorkNXl7AtTTnspjHTIROdk7cW88NpIfEpcWKSby70gzSaR/OAvZrZ9Pk6zc7WCNihL8W22qMHdTa37akgZyJ/Cy70co8JUvN1UfrzN8Ez1WAoCfLv1PQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
          <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="5fd6d130-82e1-4468-adeb-3cf3e69c64ae" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>